
<div id="ANS"style="visibility: hidden;"><%=flash_card.answer%></div>
<h1 id="heres">Here's your card!!!</h1>

<div id="real_question" style="visibility: visible">
  <div class="animated slideInLeft">

  <div id="flipper">
<div class="cardBack">
  <div id="cell" class="cardCell">
    <div class="cardContent">
    <%=flash_card.question%>
    <div class="animated slideInRight" id="toggler" style="visibility: none"><h4 id="answer"><%=flash_card.answer%></h4></div>
    <div class="animated slideInLeft" id="rightA" style="visibility: none"><h4 id="right_answer">CORRECT</h4></div>
    <div class="animated slideInLeft" id="wrongA" style="visibility: none"><h4 id="wrong_answer">WRONG</h4></div>

   </div>
 </div>
</div>
</div>
</div>

<h4 style="text-align:center">Round: <%=correct%>/<%=guesses%></h4>

<!-- <div class="animated slideInRight" id="toggler" style="visibility: none"><h4 id="answer"><%=flash_card.answer%></h4></div>
 -->

<div class="answer_form">
<h3>What's your answer?</h3>
<form action='/card/<%=flash_card.id%>?current_deck_id=<%=flash_card.deck_id%>' id="give_answer" method='POST' name='myForm'>
  <input type='hidden' name='card_id' value='<%=flash_card.id%>'>
  <input type='text' id="box" name='answer' placeholder='answer here'>
  <input class='button' type='submit'>
</form>
</div>



<script language="JavaScript">

// $(document).ready(function() {
//   $("#toggler").hide();
//     $("#give_answer").submit(function(e) {
//         $("#toggler").show();
//         set.Timeout(continueExectution, 600);
//         $("#toggler").hide();
//     });
// });

</script>

<script language="Javascript">
$(document).ready(function() {
  $("#rightA").hide();
  $("#wrongA").hide();
  $("#toggler").hide();
    $("#give_answer").submit(function(e) {
        $("#toggler").show();
        set.Timeout(continueExectution, 600);
        $("#toggler").hide();
    });
 });
$( "#give_answer" ).submit(function(e) {
  $('#flipper').addClass('animated flip');
  var reason = "";
  var val = document.getElementById("box").value
  var ans = document.getElementById("ANS").innerHTML
  reason += val
  if(val == ans) {
    $("#rightA").show();
    $("#cell").addClass('green')
  }
  else if(val != ans){
    $("#wrongA").show();
    $("#cell").addClass('pink')
  }
});


</script>


<!-- if (!allowSubmit) {
      e.preventDefault();
      set.Timeout(continueExectution, 100);
      $("#toggler").show();
      set.Timeout(continueExectution, 100);
      $("#toggler").hide();
      set.Timeout(continueExectution, 10)0;
      allowSubmit=true;

  }
 -->

<!--
// $( "#give_answer" ).submit(function(e) {
//   e.preventDefault();
//   $("#toggler").show();
//   setTimeout(continueExecution, 100);
//   $("#toggler").hide();
//   return true

// });

 -->

<!-- // $( "#real_question").hide().fadeOut(1000);
// $( "#real_answer" ).show().fadeIn(1000);
// return true; -->

